//! **************************************************************************
// Written by: Map M.81d on Mon Sep 30 11:18:37 2013
//! **************************************************************************

SCHEMATIC START;
COMP "s" LOCATE = SITE "J14" LEVEL 1;
COMP "t" LOCATE = SITE "J15" LEVEL 1;
COMP "a" LOCATE = SITE "G18" LEVEL 1;
COMP "b" LOCATE = SITE "H18" LEVEL 1;
COMP "c" LOCATE = SITE "K18" LEVEL 1;
SCHEMATIC END;

