body p{
    font-weight: bold;
}

h1{
    font-familly: Helvetia;
    font-size: 18pt;
    font-weight: normal;
    margin-bottom: 50pt;
    color: green;
    text-transform: uppercase;
    border-bottom: solid 3px green;
}

em{
    font-style: italic;
    text-decoration: underline;
}

p::first-letter{
    font-weight: bolder;
    font-size: 30;
    text-transform: capitalize;
}